@media screen and (max-width:915px) {
    .tarjeta__estilo{
        width: 75vw;
        height: 50vh;
        margin: 0;
        margin-bottom: 7vh;
    }
    .link{
        font-size: 4.2vw;
    }
    h3{
        font-size: 5.5vw;
    }
    .grid-padre {
        display: grid;
        grid-template-rows: 0.06fr 15fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: auto;
    }
}