@media screen and (max-width:915px) {

    .content-flex{
        flex-direction: column;
    }
    
    .elementos{
        width: 80vw;
        margin-bottom: 10vh;
    }
    
    .elementos-mapa{
        width: 90%;
        align-items: flex-start;
        margin-left: 5vw;
        margin-bottom: 5vh;
    }

    .elementos-mapa iframe{
        width: 80vw;
        height: 40vh;
    }

    .div_horarios{
        font-size: 4.3vw;
        width: 80vw;
        height: 40%;
    }
    .horarios{
        justify-content: center;
        font-size: 100%;
    }

    h5{
        margin-top:1vw;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 2vw;
        font-size: 5vw;
    }
    h3{
        font-size: 5.5vw;
    }

    .elementos-servicios{
        font-size: 4vw;
    }
    .grid-padre {
        display: grid;
        column-gap: 5vh;
        grid-template-rows: 0.08fr 18fr 2.6fr;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: auto;
    }
}