body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh; }

/*estilos*/
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 100;
  text-align: center; }

h5 {
  padding-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 700;
  text-align: center; }

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  background-color: #2d4b74;
  grid-area: footer;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: #ffffff;
  width: 100%; }
  .footer div {
    padding-top: 1rem;
    margin-left: 3rem; }

/*Navbar*/
.navegador {
  background-color: #2d4b74;
  font-family: 'Montserrat';
  font-weight: 700; }

/*no anidar porque rompe*/
a.nav-link {
  text-decoration: none;
  color: #ffffff; }

.logo a img {
  width: 50px;
  height: 50px; }

.nav-item:hover {
  background: white;
  border-radius: 8px; }

.nav-item {
  transition: 0.6s; }

.link {
  text-decoration: none;
  font-family: "Roboto Thin", sans-serif; }
  .link img {
    width: 100%;
    height: 70%; }
  .link p {
    font-family: "Montserrat", sans-serif;
    font-size: 100;
    margin-top: 0.5rem;
    text-align: left;
    padding-left: 0.5rem; }

div .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.grid-padre {
  display: grid;
  grid-template-rows: 0.5fr 11fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main; }

.header {
  grid-area: header; }

@media screen and (max-width: 915px) {
  .tarjeta__estilo {
    width: 75vw;
    height: 50vh;
    margin: 0;
    margin-bottom: 7vh; }
  .link {
    font-size: 4.2vw; }
  h3 {
    font-size: 5.5vw; }
  .grid-padre {
    display: grid;
    grid-template-rows: 0.06fr 15fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    height: auto; } }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media screen and (max-width: 915px) {
  .grid-padre {
    display: grid;
    grid-template-rows: 0.06fr 15fr 5.5fr;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    height: auto; }
  .tarjeta__estilo--formulario {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    font-size: 4vw;
    height: 40vh; } }

.foto-local {
  margin-top: 3vh;
  display: flex;
  justify-content: center; }
  .foto-local img {
    width: 90%;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 0px 2px #1a1919; }

.boton {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #2d4b74; }

.nombre-salon {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
  padding: 1.7rem; }

.grid-padre {
  display: grid;
  grid-template-rows: 0.5fr 11fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main; }

.header {
  grid-area: header; }

@media screen and (max-width: 915px) {
  .content-flex {
    flex-direction: column; }
  .elementos {
    width: 80vw;
    margin-bottom: 10vh; }
  .elementos-mapa {
    width: 90%;
    align-items: flex-start;
    margin-left: 5vw;
    margin-bottom: 5vh; }
  .elementos-mapa iframe {
    width: 80vw;
    height: 40vh; }
  .div_horarios {
    font-size: 4.3vw;
    width: 80vw;
    height: 40%; }
  .horarios {
    justify-content: center;
    font-size: 100%; }
  h5 {
    margin-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    font-size: 5vw; }
  h3 {
    font-size: 5.5vw; }
  .elementos-servicios {
    font-size: 4vw; }
  .grid-padre {
    display: grid;
    column-gap: 5vh;
    grid-template-rows: 0.08fr 18fr 2.6fr;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    height: auto; } }

.grid-padre {
  display: grid;
  grid-template-rows: 0.5fr 11fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main; }

.header {
  grid-area: header; }

@media screen and (max-width: 915px) {
  .grid-padre {
    display: grid;
    grid-template-rows: 0.04fr 6fr 3fr;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    height: auto; }
  .tarjeta__estilo--formulario {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw; } }

.grid-padre {
  display: grid;
  grid-template-rows: 0.5fr 11fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main; }

.header {
  grid-area: header; }

@media screen and (max-width: 915px) {
  .grid-padre {
    display: grid;
    grid-template-rows: 0.04fr 10fr 4fr;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    height: auto; }
  .tarjeta__estilo--formulario {
    margin-top: 10vh;
    font-size: 4vw;
    margin-left: 5vw;
    margin-right: 5vw; } }
