@import "parciales/variables.scss";

body {
    margin: 0;
    font-family: $fuente_roboto;
    position: relative;
    min-height: 100vh;
}

/*estilos 3456*/
h3 {
    font-family: $fuente_monserrat;
    font-weight: 600;
    text-align: center;
}

h4 {
    padding-top: 1rem;
    font-family: $fuente_monserrat;
    font-weight: 400;
    font-size: large;
    text-align: center;

}

h5 {
    font-family: $fuente_monserrat;
    font-weight: 300;
    text-align: center;
}
h6 {
    font-family: $fuente_monserrat;
    font-weight: 200;
    display: inline;
}
/*Footer*/
footer {
    background-color: $color_principal;
}