/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    background-color: $color_principal;
    grid-area: footer;
    font-family: $fuente_monserrat;
    list-style: none;
    color: #ffffff;
    width: 100%;

    div {
        padding-top: 1rem;
        margin-left: 3rem;
    }
}