@media screen and (max-width:915px){

    .grid-padre {
        display: grid;
        grid-template-rows: 0.06fr 15fr 5.5fr;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: auto;
    }
    .tarjeta__estilo--formulario{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
        font-size: 4vw;
        height: 40vh;
    }
}

