@import "variables.scss";

.foto-local {
    margin-top: 3vh;
    display: flex;
    justify-content: center;

    img {

        border-radius: 10px;
        box-shadow: 0px 2px rgb(26, 25, 25);
    }
}

.nombre-salon {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    padding: 1.7rem;
}

.producto_descripcion,
.servicio_descripcion,
.promocion_descripcion {
    display: flex;
    justify-content: space-between;
}

.direccion_boton {
    margin-right: 5%;
}

.boton {
    text-decoration: none;
    font-family: $fuente_monserrat;
    color: white;
    background: $color_principal;
}

.horarios {
    text-decoration: none;
    font-family: $fuente_roboto_thin;
    font-weight: 300;
}