@import "variables.scss";

.foto-local{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    img {
        width: 90%;
        height: 35vh;
        border-radius: 10px;
        box-shadow: 0px 2px rgb(26, 25, 25);
    }
} 
.boton{
        text-decoration: none;
        font-family: $fuente_monserrat;
        color:white;
        background:  $color_principal;
    
}
.nombre-salon {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
    padding: 1.7rem;
}