$color_principal: #2d4b74;
$fuente_roboto: 'Roboto', sans-serif;
$fuente_roboto_thin:'Roboto Thin', sans-serif;
$fuente_monserrat:'Montserrat', sans-serif;

@mixin sizes ( $width,$height) {
    width: $width;
    height: $height;
}
/*
moviles 
@media (max-width:576px)

tablets 
@media (min-width:576px) and (max-width:768px)

@if $vista== tablet{
     @media (min-width:576px) and (max-width:768px){

    };
}@else if $vista== mobile{
    @media (max-width:576px){

    };
}@else{
    @media screen and (min-width:768px){
        
    }
}
*/